*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

body {
  z-index: 1;
}

.wrapper {
  z-index: 2;
}

#modeImg {
  height: 50px;
  width: 50px;
}

#tools {
  height: 100px;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: absolute;
}

.canvasContainer {
  cursor: url(https://img.icons8.com/ios-filled/50/000000/pencil-tip.png) 0 50,
    auto;
}

#colors {
  align-items: center;
}
#colors img {
  cursor: pointer;
}
#colors,
.size {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.size {
  flex-direction: column;
  align-items: center;
}

.size > div {
  font-size: large;
  margin-top: 5px;
}

.color {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 10px;
  cursor: pointer;
}

button {
  font-size: large;
  padding: 5px 20px;
  cursor: pointer;
  width: 110px;
  height: 50px;
}

@media (max-width: 600px) {
  #tools {
    flex-direction: column;
    height: 170px;
    top: 0;
  }

  .color {
    height: 30px;
    width: 30px;
    margin: 5px;
  }

  #modeImg {
    height: 30px;
    width: 30px;
  }
  button {
    margin-bottom: 10px;
  }
  input {
    margin-top: 10px;
  }
}
